.Wrapper {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.Upload {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-style: dashed;
  padding-top: 10px;
  width: 500px;
  height: 200px;
  background-color: rgb(194, 193, 193);
}

.Upload-button {
  color: #fff;
  background-color: orange;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
}

.Submit-button:hover {
  background-color: darkorange;
}
